.top{
    height: 80px;
    background-color:antiquewhite;
    display: flex;
   border: 10cm;
   justify-content: space-between;
   padding: 0px  0px 0px 105px;
   border-radius: 1em; 
   
}
.head1{
    font-size: 3em;
    margin-top: 10px;
}

.container{
    
}